/* css reset */
* {
  margin: 0;
  padding: 0;
}

.logo{
   display:flex;
   justify-content: end;
padding-right: 20px;
}
.Under{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    color: grey;
   
}
.Frontpage{
display: grid;
grid-template-columns:1fr 1fr ;
} 
.div1{
    background-color: grey;
width: 100%;
height: 900px;
}

.div2 h2{
    padding-bottom: 30px;
}
.Login h2{
    padding-top:  90px;
    padding-bottom: 30px;
    display: flex;
    justify-self: center;
    color: rgb(55, 54, 54);
}

.user-details{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
 .user-details .Login{
    margin-bottom: 15px;
width: calc(100% / 2 - 20px);
padding-bottom: 90px;
}
.user-details .Login .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.user-details .Login input{
height: 45px;
width: 100%;
outline:none;
border-radius: 5px;
border:1px solid #ccc;
padding-left: 15px;
font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.user-details .Login input:focus,
.user-details .Login input:valid{
border-color: #221c25;
}
.details{
    padding-top: 10px;
    padding-bottom: 20px;
}
.button{
    height: 50px;
    margin: 45px;
    width: 340px;
    display: flex;
    justify-self: center;
}
.button input{
    font-weight: bold;
    background-color: white;
    color: black;
    height: 100%;
    width:100%;
    display: flex;
    justify-self: center;
}
.div1 img{
    padding-left: 60px;
    padding-top: 80px;
}