/* css reset */
* {
  margin: 0;
  padding: 0;
}

.Frontpage{
display: grid;
grid-template-columns:1fr 1fr ;
} 
.div1{
    background-color: rgb(55, 54, 54);
width: 28%;
height: 900px;
}
.bluh{
    background-color: rgb(202, 201, 201);
    width: 100%;
    height: 90px;
}

.div2 h2{
    padding-bottom: 30px;
}
.div1 img{
    padding-left: 60px;
    padding-top: 80px;
}
.first{
    display: flex
}